<!DOCTYPE html>
<lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="~{base::Layout(~{::section})}
">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <section class="container mt-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="my-card">
                        <div class="container text-center">
                            <img style="width: 80px;" th:src="@{/Images/user-registration.png}" alt="">
                        </div>

                    <h1 class="text-center my-2">Resister Here !!</h1>


                    <form th:action="@{/doResister}" method="post" th:object = "${user}">
                        <!-- name field -->
                            <label for="nameField" class="form-label">Enter Youre Name</label>
                            <input name="name"  type="text" class="form-control" id="nameField" aria-describedby="emailHelp" placeholder="Enter Here" required/>


                        <!-- email field -->
                            <label for="emailField" class="form-label">Enter Youre Email</label>
                            <input name="email"   type="email" class="form-control" id="emailField" aria-describedby="emailHelp" placeholder="Enter Here" required/>


                        <!-- password field -->
                            <label for="passwordField" class="form-label">Enter Youre password</label>
                            <input name="password" type="text" class="form-control" id="passwordField" aria-describedby="emailHelp" placeholder="Enter Here" required/>

                        <!-- user about field field -->
                            <div class="form-group my-2">
                                <textarea name="about"  class="form-control" placeholder="Enter something about youreself" rows="6"></textarea>
                            </div>
                            
                            <!-- terms and condition -->

                            <div class="form-group form-check">
                                <input name="agreement" type="checkbox" class="form-check-input"
                                id="agreement"/>
                                <label for="agreement" name="agreement">Accept terms and condition</label>
                            </div>

                            <!-- buttons -->
                            <div class="container text-center">
                                <button class="btn bg-primary text-white" type="submit">Submit</button>
                                <button class="btn btn-warning text-white" type="reset">Reset</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>